<!DOCTYPE html>
<html lang="en">

<head>
    <% if (htmlWebpackPlugin.options.gaTrackingId) { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119688053-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', '<%=htmlWebpackPlugin.options.gaTrackingId%>');
        </script>
        <% } %>
        <meta charset="UTF-8">
</head>

<body>
    <h1>Users</h1>
    <table>
        <thead>
            <th>&nbsp;</th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
        <tbody id="users"></tbody>
</body>

</html>
